<div class="container">
  <div class="header-components">
    <div class="header-title">FOR WEDDING</div>
    <div class="header-buttons">
      <div class="header-list header-button" title="Invitation List"><mat-icon class="header-right-icon">assignment</mat-icon></div>
      <div class="header-statistic header-button" title="Statistics"><mat-icon class="header-right-icon">trending_up</mat-icon></div>
      <div class="header-statistic header-button" title="Add Guest"><mat-icon class="header-right-icon">add</mat-icon></div>
    </div>
  </div>
</div>
